<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vida Sana Agropecuaria</title>
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon">
    <!--Fuentes Noto Serif y Open Sans-->
    <link
        href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,700&family=Open+Sans:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" />
    <!--Archivo css Glider-->
    <link rel="stylesheet" href="css/gliderJs.css">
    <!--Archivo css -->
    <link rel="stylesheet" href="css/styles.css">
    <!--Archivo css Contenido-->
    <link rel="stylesheet" href="css/styleContenido.css">
</head>

<body>

    <header class="contenedor-header">
        <div class="contenedor-menu">
            <div class="logo"> </div>
            <nav class="navigation">
                <ul class="menu">
                    <div class="icon-menu-close"></div>
                    <li class="menu__item"><a href="index.html">Inicio</a></li>
                    <li class="menu__item"><a href="#mercados-productos">Productos</a></li>
                    <li class="menu__item"><a href="Acerca.html">Acerca</a></li>
                    <li class="menu__item"><a href="contacto.html">Contactenos</a></li>
                    <li class="menu__item"><a href="login.html">Ingresar</a></li>
                </ul>
                <div class="icon-menu-show"></div>
            </nav>
        </div>
    </header>

    <main>
        <section class="información_empresa">
            <article class="nutricion">
                <div class="nutricion__img"></div>
                <div class="nutricion__contenido">
                    <h2 class="titulo"><span>Nutrición Animal</span></h2>
                    <p>Amplio portafolio de alimentos concentrados y sales mineralizadas de las marcas más reconocidas
                        en el
                        mercado nacional para todo tipo de animales. Contamos con un amplio portafolio para el sector
                        pecuario en alimentos balanceados, pre-mezclas, sales mineralizadas, bloques nutricionales,
                        bases
                        alimenticias y todo lo relacionado con la nutrición animal con excelentes precios y atención.
                    </p>
                </div>
            </article>
        </section>
        <section class="nuestros_productos">
            <h2 class="titulo"><span>Nuestros Productos</span></h2>
            <p>
                Nos dedicamos a la comercialización de productos agrícolas, veterinarios y todo lo relacionado con el
                campo, comprometidos con el cumplimiento de los requisitos del cliente, legales y otros aplicables, la
                prevención de lesiones y enfermedades, y la protección del ambiente, mediante la gestión eficiente de
                recursos y el mejoramiento continuo de Sistema de Gestión Integrado diseñado con el propósito de cumplir
                nuestra política y objetivos de negocio con un crecimiento sostenible y rentable.
            </p>
        </section>
        
        <a name="mercados-productos"></a>
        <section class="carousel">            
            <h2 class="titulo"><span>Mercados</span></h2>
            <div class="carousel__contenedor">
                <button aria-label="Anterior" class="carousel__anterior">
                    <i class="fas fa-chevron-left"></i>
                </button>
                <div class="carousel__lista">
                    <div class="carousel__item">
                        <img src="img/merc-1.png" alt="MERCADO EQUINO">
                        <a href="portafolios.html#suplemento_equinos">EQUINO</a>
                    </div>
                    <div class="carousel__item">
                        <img src="img/merc-2.png" alt="MERCADO AVICOLA">
                        <a href="portafolios.html#suplemento_avicolas">AVICOLA</a>
                    </div>
                    <div class="carousel__item">
                        <img src="img/merc-3.png" alt="MERCADO BOVINO">
                        <a href="portafolios.html#suplemento_bovinos">BOVINO</a>
                    </div>
                    <div class="carousel__item">
                        <img src="img/merc-6.png" alt="MERCADO PORCINO">
                        <a href="portafolios.html#suplemento_porcinos">PORCINO</a>
                    </div>
                </div>
                <button aria-label="Siguiente" class="carousel__siguiente">
                    <i class="fas fa-chevron-right"></i>
                </button>
            </div>
            <div role="tablist" class="carousel__indicadores"></div>
        </section>
        
        <div class="elementor-widget-container">
            <p>ESTAMOS PARA SERVIRLE</p>
        </div>

        <section class="conten_info">
            <div class="conten_item">
                <i class="fas fa-headset"></i>
                <h2>SERVICIO AL CLIENTE</h2>
                <h3>¿Tienes preguntas?</h3>
                <p class="info-contacto">Contáctanos a los numeros</br>
                    302 145 1221 | (4) 2365445
                </p>
            </div>
            <div class="conten_item">
                <i class="fas fa-credit-card"></i>
                <h2>PAGO SEGURO</h2>
                <h3>Rápido y seguro</h3>
                <p>Realiza tus compras de manera segura con nosotros al realizar el pago por medio de PlacetoPay, una
                    plataforma de pagos electrónicos segura.
                </p>
            </div>
            <div class="conten_item">
                <i class="fas fa-reply"></i>
                <h2>DEVOLUCIÓN GRATUITA</h2>
                <h3>Fácil y gratis</h3>
                <p>Nuestros productos se entregan a entera satisfacción. Si no cumplen con tus expectativas te lo
                    cambiamos o devolvemos tu dinero.
                </p>
            </div>
            <div class="conten_item">
                <i class="fas fa-shipping-fast"></i>
                <h2>ENVÍO NACIONAL</h2>
                <h3>Enviamos a todo el país</h3>
                <p>Contamos con aliados logísticos para brindarte los mejores precios en nuestros envíos.
                </p>
            </div>
        </section>
    </main>
    <a class="btn_whatsApp" href="#">
        <i class="fab fa-whatsapp"></i>
        <span>¿En qué podemos ayudarte?</span>
    </a>


    <footer class="contenedor-footer">
        <div class="copyright">
            <div class="texto-info">
                <div class="redes">
                    <p>SÍGUENOS</p>
                    <img src="img/twitter.png" alt="twitter">
                    <img src="img/instagram.png" alt="instagram">
                    <img src="img/facebook.png" alt="facebooks">
                </div>
                <p>INFO@SANAVIDAAGRO.COM.CO</p>
                <p>230 25 63 21</p>
            </div>
            <div class="texto-copy">
                <p>&#169 2021 Vida Sana. Web realizada por SOFTxCODE </p>
            </div>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/2c36e9b7b1.js" crossorigin="anonymous"></script>
    <script src="javascripts/gliderJs.js"></script>
    <script src="javascripts/carousel.js"></script>
    <script src="javascripts/main.js"></script>
</body>

</html>