<div class="container">
    <h1 class="contact">Contactanos</h1>
    <div class="contact-wrapper animated bounceInUp">
        <div class="contact-form">
            <h3>Contactanos</h3>
            <form action="">
                <p>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" id="nombre">
                </p>
                <p>
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email">
                </p>
                <p>
                    <label>Teléfono</label>
                    <input type="tel" name="telefono" id="telefono">
                </p>
                <p>
                    <label>Asunto</label>
                    <input type="text" name="asunto" id="asunto">
                </p>
                <p class="block">
                    <label>Mensaje</label>
                    <textarea name="mensaje" id="mensaje" rows="3"></textarea>
                </p>
                <p class="block">
                    <button>
                        Enviar
                    </button>
                </p>
            </form>
        </div>
        <div class="contact-info">
            <h4>Mas información</h4>
            <ul>
                <li><i class="fas fa-map-marker-alt"></i> Sana Vida</li>
                <li><i class="fas fa-phone"></i> 230 25 63 21</li>
                <li><i class="fas fa-envelope-open-text"></i> info@sanavidaagro.com.co</li>
            </ul>
            <p>ESCRÍBENOS Y CONTACTA</p>
            <p>Usa nuestro formulario para ponerte en contacto directo con nosotros, te responderemos a la mayor
                brevedad posible.</p>
        </div>
        <div class="contact-map">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15836.328257268835!2d-73.11413980679555!3d7.116488510630502!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e683fe3d972e479%3A0xf4d24fabc68b8c!2sUniversidad%20Aut%C3%B3noma%20de%20Bucaramanga-UNAB-!5e0!3m2!1ses!2sco!4v1633357511533!5m2!1ses!2sco"
                width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
