/* You can add global styles to this file, and also import other style files */
:root{
    --azul_oscuro:#23587a;    
    --azul_claro:#3aa3a6;
    --azul_claro_transparente:#3aa2a6ee;
    --verde_menta:#81ed98;
    --verde_menta_oscuro:#58cd99;
    --gris_oscuro:#333333;
    --gris_claro:#eaeaea;
    --blanco: #f4fffd;
}